


body{
    width: 500px!important;
    margin: 0 auto!important;
    background-color: #fff!important;
}

#app{
    background-color: #f8f9fa !important;
}

.kh-person-info{
    -webkit-box-align: center;  
    align-items: center;
    -webkit-align-self: center; 
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; 
    -ms-flex-direction: column;
    flex-direction: column; 
    text-align: center;
    width: 64px;
}